<footer class="site-footer clearfix">
  <div class="wrapper">
    <p class="contact">Nicole Fuller Interiors<br />{{ site.phone }}<br /><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    <p class="copyright">{{ site.description }}<br />&copy; {{ site.title }}</p>
    <ul class="social-media">
      {% if site.instagram_username %}
        <li class="instagram"><a href="http://instagram.com/{{ site.instagram_username }}"><span>Instagram</span></a></li>
      {% endif %}
      {% if site.pinterest_username %}
        <li class="pinterest"><a href="http://pinterest.com/{{ site.pinterest_username }}"><span>Pinterest</span></a></li>
      {% endif %}
      {% if site.facebook_url %}
        <li class="facebook"><a href="http://facebook.com/{{ site.facebook_url }}"><span>Facebook</span></a></li>
      {% endif %}
      {% if site.twitter_username %}
        <li class="twitter"><a href="http://twitter.com/{{ site.twitter_username }}"><span>Twitter</span></a></li>
      {% endif %}
    </ul>
  </div>
</footer>
