---
layout: default
---

<div class="wrapper">
  <h1>{{ page.title }}</h1>
</div><!--.wrapper-->
<div class="content clearfix">
  <ul>
    {% assign products = site.products | sort: 'position' %}
    {% for product in products %}
      <li class="product">
        {% if product.shop_url %}
          <a href="{{ product.shop_url }}" target="_blank">
        {% endif %}
          {% if product.thumbnail_image %}
            <img src="{{ product.thumbnail_image }}" alt="{{ product.title }}">
          {% else %}
            <div class="coming-soon">
              <div class="meta-data">
                <div><!--again, I need this so I can center this as a single item :( -->
                  <h2>{{ product.title }}</h2>
                  <h3>{{ product.release_date }}</h3>
                </div>
              </div>
            </div>
          {% endif %}
        {% if product.shop_url %}
          </a>
        {% endif %}
        {% if product.shop_url %}
        <a href="{{ product.shop_url }}"  target="_blank">
        {% endif %}
          <img src="{{ product.logo_image }}" alt="{{ product.title }} by Nicole Fuller Interiors" class="product-logo {{ product.title | slugify }}" />
        {% if product.shop_url %}
        </a>
        {% endif %}
        <div class="meta-data">
          <!-- <h2><a href="{{ product.shop_url }}">{{ product.title }}</a></h2> -->
          {{ product.content }}
          {% if product.shop_url %}
            <a href="{{ product.shop_url }}" class="button">Shop {{ product.title }}</a>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% include bottom-cta.html %}
